version: "3"
services:
  flask_gunicorn:
    build:
      context: .
    container_name: cube_python_flask_gunicorn_flask
    environment:
      - DD_SERVICE=cube_sample_python_flask_gunicorn_datadog

      # Send data to Datadog Agent
      - DD_AGENT_HOST=datadog-agent

      # Enable Runtime metrics
      - DD_RUNTIME_METRICS_ENABLED=true
      - DD_RUNTIME_METRICS_RUNTIME_ID_ENABLED=true

      # optional settings
      # - DD_ENV=myenv
      # - DD_VERSION=1.2.3
      # - DD_TAGS=mykey1:myvalue1,mykey2:myvalue2

      # Print Datadog tracer startup logs on screen
      # - DD_TRACE_STARTUP_LOGS=true
      # Enable Datadog tracer debug logging if needed to see detailed logs
      # - DD_TRACE_DEBUG=true
    ports:
      - "8000:8000"
    depends_on:
      - mysql
      - redis
      - kafka
      - datadog-agent
    restart: always

  datadog-agent:
    image: gcr.io/datadoghq/agent:7.72.3
    container_name: datadog-agent
    environment:
      # Required
      - DD_API_KEY=<your_datadog_api_key>

      # send metrics to CubeAPM
      - DD_DD_URL=http://host.docker.internal:3130
      # send traces to CubeAPM
      - DD_APM_DD_URL=http://host.docker.internal:3130

      # Accept traces and metrics from applications running outside the agent host
      - DD_APM_NON_LOCAL_TRAFFIC=true
      - DD_DOGSTATSD_NON_LOCAL_TRAFFIC=true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /proc/:/host/proc/:ro
      - /sys/fs/cgroup/:/host/sys/fs/cgroup:ro

  mysql:
    image: mysql:8.0
    container_name: cube_python_flask_gunicorn_mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=test
    volumes:
      - cube_python_flask_gunicorn_mysql:/var/lib/mysql
    ports:
      - "3306:3306"

  redis:
    image: redis:alpine3.18
    container_name: cube_python_flask_gunicorn_redis

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: cube_python_flask_gunicorn_kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:29093
      KAFKA_LISTENERS: PLAINTEXT://kafka:29092,CONTROLLER://kafka:29093,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk

  kafdrop:
    image: obsidiandynamics/kafdrop:4.0.0
    container_name: cube_python_flask_gunicorn_kafdrop
    depends_on:
      - kafka
    ports:
      - 19000:9000
    environment:
      KAFKA_BROKERCONNECT: kafka:29092


volumes:
  cube_python_flask_gunicorn_mysql:
